---
import Container from "@components/Container.astro";
---

<script
  defer
  data-domain="crstian.me"
  src="https://plausible.crstian.me/js/script.js"></script>

<div class="pt-36 pb-5">
  <Container size="md">
    <slot />
  </Container>
</div>
